/target/
/.idea/
/.project
/.classpath
/.settings/
*.iml

# Node build artifacts
/dist/
/node_modules/

# OS
.DS_Store

# AL project remnants
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
